numpy==1.16.4
Flask_Cors==3.0.8
scikit_surprise==1.1.0
requests==2.22.0
MarkupSafe==1.1.1
Flask==1.1.1
Werkzeug==0.15.4
pandas==0.24.2
numba==0.44.1
firebase_admin==4.3.0
scikit_learn==0.23.2
surprise==0.1
